@import "nullstyle.scss";

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 5px;
  background-color: #07070700;
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #0F0F0F;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #fff;
  background-color: #000;
}


.container {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}

/*-----header-----*/
.header {
  width: 100%;
  height: 80px;
  background-color: #0f0f0f;
  padding: 0 20px;
  position: fixed;
  top: 0;
}
.header__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  & > a {
    color: #fff;
  }
}
.header__menu {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: -20px;
}
.menu__list {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  padding: 30px 20px;
  color: grey;
  transition-duration: 0.5s;
  text-transform: uppercase;
  background: none;
  &:hover {
    background-color: #1f1f1f;
    border-bottom: 1px solid #fff;
  }
}


.menu__link-input {
  display: none;
  &-effect {
    width: 0px;
    height: 30px;
    background-color: #808080;
    color: white;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
    animation-name: search;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
}
@keyframes search {
  0% {
    width: 0;
    height: 30px;
  }
  100% {
    width: 200px;
    height: 30px;
  }
}



/*-----mainone-----*/
.mainone {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../img/bg-mainone.jpg");
  background-position: center;
  object-fit: contain;
  color: white;
  text-transform: uppercase;
  margin-top: 60px;
  animation-name: backimg;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.mainone__box {
  width: 320px;
  height: 320px;
  border: 4px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__porten {
  font-size: 64px;
  font-weight: 700;
}
.box__snkt {
  font-size: 22px;
}
.mainone__text {
  max-width: 730px;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

/*-----maintwo-----*/
.maintwo {
  width: 100%;
  height: 730px;
  display: flex;
  flex: 1 1 auto;
  font-family: Playfair Display;
}
.maintwo__blockone {
  max-width: 1040px;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}
.maintwo__content {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.blockone__title {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.under__line {
  width: 120px;
  height: 1px;
  background-color: #fff;
}
.blockone__clock {
  width: 90%;
  height: 470px;
  display: flex;
  justify-content: space-around;
}
/*-----clock-----*/
.clock {
  width: 260px;
  height: 425px;
  margin: 0 auto;
  &__img {
    img {
      
      transition-duration: 0.5s;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  
}
.clock__img {
  width: 100%;
  height: 325px;
  background-color: #191b1c;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.clock__info {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
}
.maintwo__blocktwo {
  max-width: 880px;
  height: 100%;
  flex: 0 1 auto;
  flex: 1 1 auto;
  background-image: url("../img/bc-maintwo.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blocktwo__content-container {
  width: 100%;
  height: 276px;
}
.blocktwo__content {
  width: 380px;
  height: 176px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.blocktwo__title {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}
.blocktwo__catalog > button {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 23px;
  background: none;
  border: 1px solid #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #ffffff;
}
/*----------mainthree----------*/
.mainthree {
  width: 100%;
  height: 600px;
  display: flex;
}
.mainthree__block1 {
  max-width: 880px;
  height: 100%;
  flex: 1 1 auto;
  background-image: url("../img/mainthree-img.jpg");
  background-position: center;
}
.mainthree__block2 {
  max-width: 1040px;
  height: 100%;
  flex: 1 1 auto;
}
.block2__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.block2__title {
  font-family: Playfair Display;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.block2__text {
  max-width: 470px;
  flex: 0 1 auto;
  line-height: 150%;
  text-align: center;
}
.block2__button > button {
  background: none;
  border: 1px solid #fff;
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*-----mainfour-----*/
.mainfour {
  width: 100%;
  height: 1290px;
}
.mainfour__container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainfour__content {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.mainfour__title {
  font-family: Playfair Display;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}
.mainfour__clock {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1fr);
}

/*-----footer-----*/
.footer {
  width: 100%;
  height: 50px;
  background-color: #0f0f0f;
}
.mainblock-hover-footer:hover  .mainblock-hover-footer-content {
  margin: 0 auto;
  width: 95%;
  transition-duration: 0.5s; 
}
.footer__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 20px;
}
.footer__make > a {
  color: #fff;
}

.clock:hover .clock__img {
  animation: clock-img 0.5s ease infinite;
  animation-fill-mode: both;
}


.mainblock-hover:hover .under__line{
  animation: mainblock-hover 0.5s ease forwards;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.button-animate:hover {
  transition: 0.4s;
  color: #000;
  background-color: #fff;
}



@keyframes clock-img {
  0% {
    background-size: 100% 100%;
    
  }
  100% {
    background-size: 150% 150%;
  }
} 

@keyframes  mainblock-hover {
  100% {
    width: 100%;
  }
}

@keyframes backimg {
  0% {
    background-size: 100% 100%;
    
  }
  100% {
    background-size: 120% 120%;
  }
}






@media (max-width: 1300px) {
  .mainthree {
    margin-top: 20px;
  }
  .mainthree__block1 {
    display: none;
  }
  .mainthree__block2 {
    display: block;
    width: 100%;
    background-image: url("../img/mainthree-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

@media (max-width: 1250px) {
  .maintwo {
    display: block;
    height: 1000px;
  }
  .maintwo__blockone {
    height: 70%;
    margin: 0 auto;
  }
  .maintwo__blocktwo {
    height: 300px;
    margin: 0 auto;
    background-position: 70% 35%;
  }
  .blocktwo__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blocktwo__title {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .mainfour {
    height: 1600px;
  }
  .mainfour__content {
    height: 100%;
  }
  .mainfour__clock {
    height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
  }
}

@media (max-width: 840px) {
  .mainfour {
    width: 100%;
    height: 750px;
    .container {
      display: flex;
      align-items: center;
    }
  }
  .mainfour__clock {
    max-width: 760px;
    height: 70%;
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 800px) {
  .blockone__clock {
    overflow: scroll;
    overflow-y: hidden;
  }
}

@media (max-width: 768px) {
  .burger-img {
    width: 50px;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 999;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #f0f0f0;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #fcfcfc;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger-active > span {
    
    background: none;
  }
  .header__burger-active::before {
    transition-duration: 1s;
    transform: rotate(45deg);
  }
  .header__burger-active::after {
    transition-duration: 1s;
    top: -2.3px;
    transform: rotate(-45deg);
  }
  
  .header__menu-effect {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0f0f0ff1;
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .mainone {
    background-size: 280% 100%;
    animation: none;
  }
}

@media (max-width: 350px) {
  .mainone {
    height: 100vh;
  }
  .mainone__box {
    border: none;
  }
}




